.rating-card {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  border-radius: 30px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  color: white;
}

.icon-star img {
  border-radius: 50%;
  background: #262E38;
}

.rating-card {
  margin: 5% 5%;
  padding: 5%;
}