button {
  background: #FC7614;
  border-radius: 22.5px;
  color: white;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
  padding: 11px 138px 15px;
  border: none;
}

button:hover {
  background-color: #fff;
  color: #FC7614;
  cursor: pointer;
}